html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: black;
}

:focus {
  outline: none;
}

body,
h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.container {
  width: 1230px;
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}

.container-hero {
  max-width: 1600px;
  padding: 0px 15px;
  margin: 0px auto;
}

.header {
  padding: 32px 0px 32px 0px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 93px;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
}
.header__span {
  color: #212121;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  font-weight: 500;
}
.header__link:hover {
  color: #2196f3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  font-weight: 500;
}
.contacts__link:hover {
  color: #2196f3;
}

.hero {
  margin-bottom: 74px;
  max-width: 1600px;
  text-align: center;
  background-color: #2f303a;
  background-image: url(/img/overlay.jpg);
}
.hero__btn {
  margin-bottom: 200px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #2196f3;
}

.h1 {
  padding-top: 200px;
  margin-bottom: 30px;
  font-size: 44px;
  color: #ffffff;
}

.benefits {
  margin-bottom: 94px;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits__item:nth-child(1)::before {
  background-image: url(/img/svg/antenna.svg);
}
.benefits__item:nth-child(2)::before {
  background-image: url(/img/svg/clock.svg);
}
.benefits__item:nth-child(3)::before {
  background-image: url(/img/svg/diagram.svg);
}
.benefits__item:nth-child(4)::before {
  background-image: url(/img/svg/cosmo.svg);
}
.benefits__item:hover::before {
  background-color: #2196f3;
}
.benefits__text {
  color: #757575;
}

.h2 {
  font-weight: 500;
}

.about {
  margin-bottom: 94px;
  text-align: center;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
.h3 {
  font-size: 36px;
  font-weight: 600;
}

.workers {
  padding: 94px 0px;
  text-align: center;
  background-color: #f5f4fa;
}
.workers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.workers__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px grey;
          box-shadow: 0px 1px 3px 0px grey;
}
.workers__item:not(:last-child) {
  margin-right: 30px;
}
.workers__name {
  margin-top: 30px;
}
.workers__work {
  margin-top: 10px;
  color: #757575;
}
.workers__sociallist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
  margin-bottom: 30px;
}
.workers__sociallist .workers__socialitem:not(:last-child) {
  margin-right: 10px;
}
.workers__sociallink {
  display: inline-block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
.workers__sociallink:hover, .workers__sociallink:focus {
  background-color: #2196f3;
}
.workers__sociallink .h3 {
  font-size: 36px;
  font-weight: 600;
}

.instagram {
  background-image: url(/img/svg/instagram\ 2.svg);
}

.twitter {
  background-image: url(/img/svg/twitter\ 1.svg);
}

.facebook {
  background-image: url(/img/svg/face.svg);
}

.linkedin {
  background-image: url(/img/svg/linkedin\ 1.svg);
}

.costumers {
  text-align: center;
  padding-bottom: 94px;
}
.costumers__h {
  font-size: 36px;
  font-weight: 700;
  padding-top: 50px;
}
.costumers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.costumers__list li {
  border-radius: 4px;
}
.costumers__list li:not(:last-child) {
  margin-right: 30px;
}
.costumers__link {
  border: 1px solid #afb1b8;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.costumers__link:hover, .costumers__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}
.costumers__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.footer {
  background-color: #212121;
}
.footer__logo {
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
}
.footer__span {
  color: #ffffff;
}
.footer__item {
  color: #757575;
}
.address {
  color: #ffffff;
}

address a {
  color: #757575;
}

.portfolio {
  margin-top: 34px;
  margin-bottom: 94px;
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:nth-child(3n+3) {
  margin-right: 0px;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.portfolio__name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 24px;
}
.portfolio__type {
  padding: 0px 24px;
  margin-top: 5px;
  color: #757575;
}

.q {
  background-color: black;
  margin: 0px auto;
  margin-top: 50px;
  width: 500px;
  height: 200px;
}

.qwer {
  display: inline-block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: red;
  background-image: url(/img/phone.jpg);
  background-size: cover;
}

.bbttnn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
.bbttnn:hover, .bbttnn:focus {
  background-color: tomato;
  color: aqua;
}
.bbttnn:hover::before, .bbttnn:focus::before {
  background-color: yellow;
}
.bbttnn::before {
  content: "";
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-color: red;
}

.filters {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__btn {
  padding: 6px 22px;
  border-radius: 4px;
}
.filters__btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}/*# sourceMappingURL=main.css.map */