.hero {
  margin-bottom: 74px;
  text-align: center;
  background-color: $hero-background;
  &__btn {
    margin-bottom: 200px;
    padding: 10px 32px;

    font-size: 16px;
    font-weight: 600;

    color: $third-text-color;
    background-color: $logo-hover-color;
  }
}
.h1 {
  padding-top: 200px;
  margin-bottom: 30px;
  font-size: 44px;

  color: $third-text-color;
}
