.benefits {
  margin-bottom: 94px;
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__text {
    color: $primary-text-color;
  }
}
.h2 {
  font-weight: 500;
}
