.workers {
  text-align: center;
  background-color: $workers-back;
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
  }

  &__name {
  }

  &__work {
    color: $primary-text-color;
  }
}
.h3 {
  font-size: 36px;
  font-weight: 600;
}
