.workers {
  padding: 94px 0px;
  text-align: center;
  background-color: $benefits-back;
  &__list {
    display: flex;
  }

  &__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px grey;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
  }

  &__name {
    margin-top: 30px;
  }

  &__work {
    margin-top: 10px;
    color: $primary-text-color;
  }

  &__sociallist {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 30px;
    .workers__socialitem:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__socialitem {
  }

  &__sociallink {
    display: inline-block;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    &:hover,
    &:focus {
      background-color: $logo-hover-color;
    }

    .h3 {
      font-size: 36px;
      font-weight: 600;
    }
  }
}

.instagram {
  background-image: url(/img/svg/instagram\ 2.svg);
}
.twitter {
  background-image: url(/img/svg/twitter\ 1.svg);
}
.facebook {
  background-image: url(/img/svg/face.svg);
}
.linkedin {
  background-image: url(/img/svg/linkedin\ 1.svg);
}
